.container {
  display: flex;
  flex-direction: column;
  font-family: "Calibri";
  justify-content: center;
  padding: 2rem 5rem;
}

table {
  border-spacing: 0;
  border: 1px solid #d1cccc;
}

tr:last-child td {
  border-bottom: 0;
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

th:last-child,
td:last-child {
  border-right: 0;
}


tr:nth-child(odd) {
  background: #b6c7e7;
  color: #000000;
}

tr:nth-child(even) {
  background: #d9e1f2;
  color: #000000;
}

input {
  border: 1px solid #d1cccc;
  border-radius: 0.2rem;
  height: 1.5rem;
}

.tablecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
}

.download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #688dd0;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.download-button:hover {
  background-color: #5f7ab3;
}

.download-button:active {
  background-color: #465f91;
}